<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Usuários</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 30px;
        }
    </style>
</head>
<body>

<div class="container">
    <h2>Alterar Senha dos Usuários</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome de Usuário</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario[1] }}</td>  <!-- Exibe o nome do usuário -->
                <td>
                    <form action="{{ url_for('alterar_usuarios') }}" method="POST">
                        <input type="hidden" name="user_id" value="{{ usuario[0] }}">
                        <div class="input-group">
                            <input type="password" class="form-control" name="nova_senha" placeholder="Nova Senha" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-warning">Alterar</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/createuser" class="btn btn-primary">Voltar para Criar Usuário</a>  <!-- Alterado para a rota createuser -->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
